:root {
    --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs color*/
    --very-light-gray: hsl(0, 0%, 95%); /*bg, headings, buttons color*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-top: 25vh;
    padding-bottom: 25vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--transparent-white);
    background-color: var(--very-light-gray);
}

.cards {
    display: flex;
    flex-flow: row wrap;
    min-height: 50vh;
    width: 65%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    width: 33.33%;
    min-width: 300px;
    height: auto;
    padding: 1.8em 3em 1.8em 1.8em;
}

.card--orange {
    background-color: var(--bright-orange);
}

.card--cyan {
    background-color: var(--dark-cyan);
}

.card--dark-cyan {
    background-color: var(--very-dark-cyan);
}

.card__icon {
    margin-bottom: 1.8em;
}

.card__title {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

.card__paragraph {
    margin-top: 1.8em;
    line-height: 1.7em;
}

.card__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.3em;
    border-radius: 30px;
    text-decoration: none;
    background-color: var(--very-light-gray);
}

.card__button--orange {
    color: var(--bright-orange);
}

.card__button--cyan {
    color: var(--dark-cyan);
}

.card__button--dark-cyan {
    color: var(--very-dark-cyan);
}

.card__button:hover {
    border: 2px solid var(--very-light-gray);
    color: currentColor;
    background-color: transparent;
}


.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100%;
    background-color: #000;
}

.attribution {
    font-family: 'Big Shoulders Display', cursive;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--bright-orange);
}

.footer a:link {
    text-decoration: none;
    color: var(--dark-cyan);
}

.footer a:visited {
    text-decoration: none;
    color: var(--dark-cyan);
}

.footer a:hover {
    border-bottom: 1px solid var(--dark-cyan);
}

.footer a:active {
    border-bottom: 1px solid var(--bright-orange);
    color: var(--bright-orange);
}

@media screen and (min-width: 375px) {
    body {
        font-size: 15px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 16px;
    }
}
